<?xml version="1.0" encoding="UTF-8"?>
<!--
  SimpleMTK

  Created by laobamac on 2026/5/27.
  Copyright © 2026 laobamac. All rights reserved.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.security.files.user-selected.read-only</key>
    <true/>
</dict>
</plist>
